@font-face {
  font-family: "MV Boli V1";
  /*src: url("./fonts/fa7e3822358f6dcb2f986a68cf24721b2.eot");  IE9*/
  src: url("./fonts/a7e3822358f6dcb2f986a68cf24721b2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/a7e3822358f6dcb2f986a68cf24721b2.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/a7e3822358f6dcb2f986a68cf24721b2.woff") format("woff"), /* chrome、firefox */
  url("./fonts/a7e3822358f6dcb2f986a68cf24721b2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/a7e3822358f6dcb2f986a68cf24721b2.svg#MV Boli V1") format("svg"); /* iOS 4.1- */
}

body {
  margin: 0;
  padding: 0;
  font-family: "MV Boli V1";
  font-size: 16px;
}